configstore
google
.DS_Store

nvim
Code - OSS
tencent-qq
electron-ssr
google-chrome
gtk-2.0
jesseduffield
menus
mimeapps.list
pulse
shadowsocks-qt5
vlc
Kingsoft
chromium
Electron
fcitx

QtProject.conf
Trolltech.conf
enchant
gedit
mutt
netease-cloud-music
transmission-daemon
transmission
uGet
xfce4
calibre
dconf
coc
emoj-nodejs
unity3d
yarn
neofetch
dask
pip
GIMP
kdenliverc
cef_user_data
VirtualBox
electronic-wechat
BaiduPCS-Go
fcitx5
SogouPY*
obs-studio
danmaku
BraveSoftware
