configstore
google
.DS_Store

Code - OSS
tencent-qq
electron-ssr
google-chrome
gtk-2.0
jesseduffield
menus
mimeapps.list
pulse
shadowsocks-qt5
vlc
Kingsoft
chromium
Electron
fcitx

QtProject.conf
Trolltech.conf
enchant
gedit
mutt
netease-cloud-music
transmission-daemon
transmission
uGet
xfce4
calibre
dconf

emoj-nodejs
unity3d
